body{
	font-size: 20px;
	color: #666666;
	letter-spacing: 5px;
	border: 30px solid#99CCCC
}

h2{
       font-family:"07YasashisaAntique","MS Pゴシック",sans-serif;
	   font-size: 180%;
	   letter-spacing: 5pt;
       margin-bottom: 5px;
        }

li{
    
    padding: 1px;
    border: 1px solid#99CCCC
    }
    
    
#photoimg{
	border: solid 0.5px #123;
}
    