
body{
	font-size: 20px;
	color: #666666;
	letter-spacing: 5px;
	border: 30px solid#99CCCC;
}

h2{
	font-family:"MS Pゴシック",sans-serif;
	font-size: 200%;
	text-align: center;
	letter-spacing: 5pt;
}

h3{
    font-size: 80%;
    margin-top: 100px;
	text-align: center;
	letter-spacing: 5pt;
	margin-top:0px;
    }
    
li{
    padding: 1px;
    border: 1px solid#99CCCC
    }
    
h4{
       font-size: 75%;
       }
