body{
	font-size: 20px;
	color: #666666;
	letter-spacing: 5px;
	border: 30px solid#99CCCC;
}

h2{
	font-family:"07YasashisaAntique","MS Pゴシック",sans-serif;
	font-size: 200%;
	text-align: center;
	letter-spacing: 5pt;
}

h3{
    font-size: 80%;
    margin-top: 100px;
	text-align: center;
	letter-spacing: 5pt;
	margin-top:0px;
    }
    
li{
    padding: 1px;
    border: 1px solid#99CCCC}

button1[type="button"]{
    float: left;
    width: 350px;
    height: 300px;
    font-size: 200%;
    padding: 5px;
    border-radius: 10px;
    color: #666666;
    background: #ffcc00;
    margin-left: 150px;
    font-family:"KodomoRounded-Light","MS Pゴシック",sans-serif;
    }
    
button2[type="button"]{
    float: right;
    width: 350px;
    height: 300px;
    font-size: 200%;
    padding: 5px;
    border-radius: 10px;
    color: #666666;
    background: #ffcc00;
    margin-right: 150px;
    font-family:"KodomoRounded-Light","MS Pゴシック",sans-serif;
    }
    
h4{
       font-size: 75%;
       }
